{% extends "base.html" %}

{% block content %}
<h1>Cinema</h1>
<form method="POST" action="{{ url_for('media_routes.cinema') }}">
    <input type="text" name="search_query" placeholder="Search for cinema" value="{{ search_query }}">
    <button type="submit">Search</button>
</form>
<h2>Search Results</h2>
<ul>
    {% for cinema in cinema %}
    <li>
        {% if cinema.coverart %}
        <img src="{{ cinema.coverart }}" alt="{{ cinema.title }} cover" style="width: 100px;">
        {% endif %}
        <h3>{{ cinema.title }}</h3>
        <p>Director: {{ cinema.director }}</p>

        <form method="POST" action="{{ url_for('media_routes.cinema') }}">
            <input type="hidden" name="title" value="{{ cinema.title }}">
            <input type="hidden" name="genre" value="{{ cinema.genre }}">
            <input type="hidden" name="year" value="{{ cinema.year }}">
            <input type="hidden" name="country" value="{{ cinema.country }}">
            <input type="hidden" name="director" value="{{ cinema.director }}">
            <input type="hidden" name="type" value="{{ cinema.type }}">
            <input type="hidden" name="language" value="{{ cinema.language }}">
            <textarea name="review" placeholder="Your review"></textarea>
            <input type="number" name="rating" min="1" max="5" step="0.5" placeholder="Rating (1-5)">
            <input type="date" name="date_consumed" placeholder="Date Consumed">
            <input type="hidden" name="coverart" value="{{ cinema.coverart }}">
            <button type="submit">Add to Library</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% if has_prev %}
<a href="{{url_for('media_routes.cinema', search_query=search_query, page=page-1)}}">Previous</a>
{% endif %}
{% if has_next %}
<a href="{{url_for('media_routes.cinema', search_query=search_query, page=page+1)}}">Next</a>
{% endif %}
{% endblock %}