{% extends "base.html" %}

{% block content %}
<h1>Music</h1>
<form method="POST" action="{{ url_for('media_routes.music') }}">
    <input type="text" name="search_query" placeholder="Search for music" value="{{ search_query }}">
    <button type="submit">Search</button>
</form>
<h2>Search Results</h2>
<ul>
    {% for music in music %}
    <li>{% if music.coverart %}
        <img src="{{ music.coverart }}" alt="{{ music.title }} cover" style="width: 100px;">
        {% endif %}
        <h3>{{ music.title }}</h3>
        <p>Artist: {{ music.artist }}</p>
        <p>Rating: {{ music.rating }}</p>
        <form method="POST" action="{{ url_for('media_routes.music') }}">
            <input type="hidden" name="title" value="{{ music.title }}">
            <input type="hidden" name="artist" value="{{ music.artist }}">
            <input type="hidden" name="genre" value="{{ music.genre }}">
            <input type="hidden" name="year" value="{{ music.year }}">
            <input type="hidden" name="language" value="{{ music.language }}">
            <input type="hidden" name="country" value="{{ music.country }}">
            <input type="hidden" name="rating" value="{{ music.rating }}">
            <input type="hidden" name="reviews" value="{{ music.reviews }}">
            <input type="hidden" name="coverart" value="{{ music.coverart }}">
            <button type="submit">Add to Library</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% if has_prev %}
<a href="{{ url_for('media_routes.music', page=prev_page, search_query=search_query) }}">Previous</a>
{% endif %}
{% if has_next %}
<a href="{{ url_for('media_routes.music', page=next_page, search_query=search_query) }}">Next</a>
{% endif %}
{% endblock %}